/* Font Face : Raleway */

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway_2";
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  padding-right: 0;
}

.container {
  font-family: "Raleway", sans-serif;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*Header*/
.header {
  max-width: 1200px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin: auto;
  position: fixed;
  flex-direction: row;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
}
#logo {
  height: 50px;
  margin: 15px 15px 15px 0px;
}
.navLink,
.register {
  text-decoration: none;
  border-top: solid 3px transparent;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2.6rem;
}
.register {
  color: #0065fc;
  font-family: "Raleway_2", serif;
}
.navLink {
  color: black;
}
.navLinkHover:hover {
  border-top: solid 3px #0065fc;
  padding-top: 23px;
  color: #0065fc;
  transition: 300ms;
}
/*Main*/

/*Search*/
.searchSection {
  margin-top: 100px;
}
.searchForm {
  display: flex;
  height: 45px;
}
.mapIcon {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  padding: 6px 15px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}
.searchBar {
  border: #f2f2f2 solid 2px;
  padding: 3px 3px;
  color: black;
  font-family: "Raleway_2", serif;
}
::placeholder {
  color: black;
  font-family: "Raleway_2", serif;
}
.searchIcon {
  padding: 7px 12px;
  color: white;
  list-style: none;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  background-color: #0065fc;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.searchIcon a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-family: "Raleway_2", serif;
}
.mobileSearchIcon {
  display: none;
}
.searchSlogan {
  margin-bottom: 20px;
}
.searchSlogan h1 {
  margin-bottom: 20px;
  font-family: "Raleway_2", serif;
}
.searchSlogan p {
  margin: 0;
}
.searchSlogan h3 {
  margin: auto;
  margin-top: 20px;
}
/* Search Filter*/
.filter {
  display: flex;
  align-items: center;
}
.filter h2 {
  font-family: "Raleway_2", serif;
}
.filterLink {
  display: flex;
  margin: 10px;
  align-items: center;
  border: #f2f2f2 2px solid;
  border-radius: 25px;
  width: auto;
  flex-wrap: wrap;
}
.filterLink a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.filterLink a:hover {
  background-color: #f2f2f2;
  border-radius: 25px;
  color: black;
  transition: 300ms;
}
.filterIcon {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.filterText span {
  font-weight: 600;
  color: black;
  padding: 6px;
}
.filterText {
  padding: 0 9px;
  color: black;
  font-weight: 600;
  font-family: "Raleway_2", serif;
}
/*Search Info*/
.info {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.infoIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #f2f2f2 2px solid;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  margin-right: 8px;
}
.fa-info:before {
  display: flex;
  align-items: center;
  padding: 5px;
  color: #0065fc;
}
.infoText {
  font-size: 15px;
  font-weight: 400;
}
/*Hebergements*/
#hebergements {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

/*Herbergements à Marseille*/
.hotelBlock {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 68%;
  border-radius: 15px;
}
.hotelBlockTitle {
  margin-left: 4%;
  height: 52px;
}
.hotelBlockTitle h3 {
  margin: 15px 0;
  font-family: "Raleway_2", serif;
}
.hotelList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}
.hotelArticle {
  background-color: white;
  border-radius: 15px;
  display: flex;
  margin: auto;
  width: 26%;
  min-width: 200px;
  margin-bottom: 20px;
}
.hotelArticle a {
  text-decoration: none;
  color: black;
  border-radius: 15px;
  width: 95%;
  margin: auto;
  padding: 4px 0;
}
.hotelArticle:hover {
  box-shadow: 0 3px 10px 1px #7e7e7e;
  transition: 300ms;
}
.hotelName,
.tarif {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.tarif {
  padding-bottom: 5px;
}
/*Image*/
.hotelImg {
  height: 100px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
/*Description de l'hotel*/
.hotelDescription {
  padding-left: 8px;
  padding-top: 5px;
}
.hotelName {
  font-family: "Raleway_2", serif;
}
.stars {
  align-items: flex-end;
}
.blue {
  color: #0065fc;
}
.gray {
  color: #a8a8a8;
}
.hotelMore {
  margin-left: 4%;
  padding-top: 20px;
}
.hotelMore a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-family: "Raleway_2", serif;
}

/*Hebergements populaires*/
.popularHotelBlock {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-radius: 15px;
  background-color: #f2f2f2;
}
.popularHotelBlockTitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Raleway_2", serif;
  height: 52px;

  margin-left: 4%;
  margin-right: 4%;
}
.popularHotelArticle {
  background-color: white;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 20px auto;
  min-width: 240px;
  height: 130px;
  min-height: 130px;
  width: 80%;
}
.popularHotelArticle:hover {
  background-color: white;
  border-radius: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
  min-width: 240px;
  height: 130px;
  min-height: 130px;
  box-shadow: 0 3px 10px 1px #7e7e7e;
  width: 80%;
  transition: 300ms;
}
.popularHotelArticle a {
  text-decoration: none;
  color: black;
  display: flex;
  padding: 4px;
  height: 100%;
}
/*Image*/
.popularHotelImgBlock {
  min-height: 100%;
  width: 33%;
  min-width: 33%;
  max-width: 33%;
}
.popularHotelImg {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 100%;
  width: 100%;
  max-height: 120px;
}
/*Description de l'hotel*/
.popularHotelDescription {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-top: 5px;
  margin-left: 7px;
}

/*Activites*/
#activites {
  margin-bottom: 50px;
}
.activiteList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#activites h3 {
  font-family: "Raleway_2", serif;
}
#activites a {
  text-decoration: none;
  color: black;
}
#activites p {
  padding-left: 10px;
  padding-bottom: 15px;
  padding-top: 5px;
  margin: 0;
  font-weight: 600;
  font-family: "Raleway_2", serif;
}
.activiteBlockOneArticle {
  width: 24%;
}
.activiteBlockTwoArticles {
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.activiteArticleBig {
  border-radius: 15px;
}
.activiteArticleBig:hover {
  box-shadow: 0 3px 10px 1px #7e7e7e;
  transition: 300ms;
}
.activiteArticleMedium {
  border-radius: 15px;
}
.activiteArticleMedium:hover {
  box-shadow: 0 3px 10px 1px #7e7e7e;
  transition: 300ms;
}
.activiteImgBig {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.activiteImgMedium {
  height: 156px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/*Footer*/
footer {
  background-color: #f2f2f2;
}
.footerContent {
  display: flex;
  justify-content: space-around;
}
.footerColumn {
  margin-right: auto;
}
.footerColumn h3 {
  font-family: "Raleway_2", serif;
}
.footerColumn ul {
  padding: 0;
}
.footerLink {
  margin-top: 20px;
  text-decoration: none;
  color: black;
}
ul li {
  list-style: none;
}

/*Media queries (responsive)*/
/*version mobile*/
@media screen and (max-width: 670px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .container {
    width: 100%;
  }

  /*Header (mobile)*/
  .header {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
  }
  .logo {
    width: 100%;
    padding-top: 10px;
    background-color: white;
    margin-left: 4%;
  }
  .headerNav {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: white;
  }
  .register {
    position: absolute;
    top: -2px;
    right: 20px;
    margin-right: 4%;
  }
  .navLink {
    display: flex;
    flex: 1;
    justify-content: center;
    border-top: hidden;
    padding: 5px 0 5px 0;
    border-bottom: #d8d8d8 3px solid;
    background-color: white;
  }
  .navLinkHover:hover {
    border-top: hidden;
    padding: 15px 0 8px 0;
    border-bottom: #0065fc 3px solid;
  }

  /*Main (mobile)*/
  /*Search (mobile)*/
  .searchSection {
    margin-top: 150px;
    margin-right: 4%;
  }
  .searchSlogan {
    padding-left: 8px;
    margin-left: 4%;
    padding-left: 10px;
  }
  .searchSlogan h1 {
    margin-bottom: 8px;
  }
  .searchForm {
    width: 100%;
    margin-left: 4%;
    margin-right: 4%;
  }
  .mapIcon {
    width: 3%;
  }
  .searchBar {
    width: 94%;
  }
  .searchIcon {
    display: none;
  }

  .mobileSearchIcon {
    display: flex;
    padding: 6px 15px;
    background-color: #0065fc;
    border-radius: 13px;
    align-items: center;
    width: 3%;
    margin-right: 4%;
  }
  .fa-search {
    color: white;
  }

  /* Search Filter (mobile)*/
  .filter {
    flex-wrap: wrap;
    margin-left: 4%;
  }
  .filter h2 {
    width: 100%;
    margin-left: 1%;
  }

  .info {
    margin-left: 4%;
    padding-left: 10px;
    margin-right: 4%;
  }

  /*Hebergements (mobile)*/
  #hebergements {
    flex-direction: column-reverse;
  }

  /* Hebergements populaires (mobile)*/
  .popularHotelBlock {
    border-radius: 0;
    margin: auto;
    width: 100%;
    align-items: flex-start;
  }
  .popularHotelBlockTitle {
    width: 100%;
    justify-content: space-between;
    margin-left: 4%;
  }

  .popularHotelBlockTitle h3 {
    padding-left: 10px;
  }
  .popularHotelBlockTitle i {
    padding-right: 10px;
    margin-right: 10%;
  }
  .popularHotelList {
    margin: 0;
    width: 100%;
  }
  .popularHotelArticle {
    min-width: 200px;
    width: 88%;
  }
  .popularHotelArticle:hover {
    min-width: 200px;
    width: 88%;
    transition: 300ms;
  }

  /* Hebergements à Marseille (mobile)*/
  .hotelBlock {
    background-color: white;
    margin: auto;
    width: 100%;
  }
  .hotelBlockTitle {
    padding: 0;
    width: 100%;
    justify-content: space-between;
    margin-left: 4%;
  }
  .hotelBlockTitle h3 {
    padding-left: 10px;
  }
  .hotelList {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  .hotelArticle {
    min-width: 200px;
    width: 88%;
    box-shadow: 0 0 5px 0 #7e7e7e;
  }
  .hotelArticle a {
    width: 98%;
  }
  .hotelMore {
    padding: 0;
    margin-left: 4%;
  }
  .hotelMore a {
    margin-left: 10px;
  }

  /* Activites (mobile) */
  #activites {
    flex-direction: column;
  }
  #activites p {
    padding-left: 0;
  }
  .activiteBlockTitle {
    /*padding: 0;*/
    width: 100%;
    justify-content: space-between;
    margin-left: 4%;
  }
  .activiteBlockTitle h3 {
    padding-left: 10px;
  }
  .activiteList {
    flex-direction: column;
    align-content: center;
    margin: 0;
    width: 100%;
  }
  .activiteBlockOneArticle {
    min-width: 200px;
    margin: auto;
    width: 88%;
  }
  .activiteBlockTwoArticles {
    min-width: 200px;
    margin: auto;
    width: 88%;
  }
  /*.activiteArticleBig {
    margin-bottom: 20px;
  }
  .activiteArticleMedium {
    margin-bottom: 20px;
  }*/
  .activiteImgBig {
    height: 125px;
  }
  .activiteImgMedium {
    height: 125px;
  }

  /* Footer (mobile)*/
  .footerContent {
    flex-direction: column;
  }
  .footerColumn {
    padding-top: 20px;
    margin-left: 4%;
    padding-left: 10px;
  }
  .footerColumn h3 {
    font-family: "Raleway_2", serif;
    margin: 0;
    margin-bottom: 10px;
  }
  .footerColumn a {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    line-height: 35px;
  }
}

/*version tablette*/
@media screen and (min-width: 670px) and (max-width: 1024px) {
  .container {
    margin-left: 4%;
    margin-right: 4%;
  }
  /*Header*/
  .headerNav {
    margin-right: 4%;
    padding-right: 4%;
  }
  /*Search section (tablette)*/
  .mapIcon {
    width: 5%;
  }
  .searchBar {
    width: 80%;
  }
  .searchIcon {
    width: 15%;
  }
  /*Hebergements (tablette)*/
  #hebergements {
    flex-direction: column-reverse;
  }

  /* Hebergements à Marseille (tablette)*/
  .hotelBlock {
    width: 100%;
  }
  .hotelBlockTitle {
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
  .hotelMore {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  /* Hebergements populaires (tablette)*/
  .popularHotelBlock {
    width: 100%;
    margin-bottom: 50px;
  }
  .popularHotelBlockTitle {
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }

  /* Activites (tablette)*/ /* activiter pour la partit tablette */
  #activites {
    flex-direction: column;
  }
  .activiteBlockTitle {
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
  .activiteList {
    flex-direction: column;
    align-content: center;
  }
  .activiteBlockOneArticle {
    margin: auto;
    width: 80%;
  }
  .activiteBlockTwoArticles {
    margin: auto;
    width: 80%;
  }
  .activiteArticleBig {
    margin-bottom: 20px;
  }
  .activiteArticleMedium {
    margin-bottom: 20px;
  }
  .activiteImgBig {
    height: 125px;
  }
  .activiteImgMedium {
    height: 125px;
  }
}
